extends layout/mainLayout
block content
	include icon/icons
	include components/mui/@index
	include components/@index



	div(class='grid grid-cols-12 p-2 divide-x')
		//- left-section
		div(class='col-span-2')
			+NavComponent()


		//- middle-section
		div#forModalContainer(class='col-span-10 md:col-span-7')

			h1(class='p-2 border-b border-slate-200 text-slate-900 font-bold') Testing Page

			section(id='root')
				h2 Heading goes here

		//- right-section
		div(class='hidden md:col-span-3')
			p right section hiddend for now
	

	script(nonce=cspNonce).

	script(src="/js/_testing.js") 

