extends layout/mainLayout
block content
	p it is a #{pageTitle} page
	p it is a 

	br
	br

	p
		a(href="/login") 
			button(type="button") Login

	p
		a(href="/logout") 
			button(type="submit") Logout

