extends layout/mainLayout
block content

	.h-screen.flex.justify-center.items-center
		.w-96.bg-slate-100.m-auto.px-4.py-3.shadow-md.rounded
			h1.mb-8.text-center.text-blue-600 Register
			form.flex.flex-col.gap-3.mb-4 
				input.p-2(type="text", name="username" placeholder='username' required='')
				input.p-2(type="email", name="email" placeholder='abc@gmail.com' required='')
				input.p-2(type="password", name="password" placeholder='your password' required='')
				input.p-2(type="password", name="confirmPassword" placeholder='your confirm password ' required='')
				button.p-2.bg-blue-500.text-white(type="submit") Register
			
			.text-center
				a.text-blue-500.underline.decoration-dotted(href="/login") Already have an account ? login here

	script(nonce=cspNonce).
		$('form').addEventListener('submit', async (evt) => {
			evt.preventDefault()

			const formData = new FormData(evt.target)
			const fields = Object.fromEntries( formData )

			if( fields.password !== fields.confirmPassword ) {
				$('[name=confirmPassword]').style.border = '1px solid red'
				return
			}

			$('[name=confirmPassword]').style.border = ''
			console.log(fields)

			const res = await fetch('/api/users', {
				method: 'post',
				body: JSON.stringify(fields),
				headers: {
					'content-type': 'application/json'
				}
			})

			const result = await res.json()
			console.log(result)

		})
