extends ../layout/mainLayout
block content

	div(class='h-screen flex justify-center items-center border border-slate-400')

		div.wrapper(class='p-8 w-60 h-60 border border-red-500')
			div.parent(class='p-8 w-40 h-40 border border-red-500')
				button.child( type="button"
					class='border border-blue-500 text-blue-500 px-3 py-1.5 rounded-md'
					class='active:bg-slate-500 active:text-white'
				) Button


	script.

		$('.wrapper').addEventListener('click', (evt) => {
			console.log('1: wrapper')
		}, false)
		$('.parent').addEventListener('click', (evt) => {
			console.log('2: parent')
		}, false)
		$('.child').addEventListener('click', (evt) => {
			console.log('3: child')
		}, false)



		//- const button2 = `
		//- 	<button type="button"
		//- 		class="border border-blue-500 text-blue-500 px-3 py-1.5 rounded-md active:bg-slate-500 active:text-white"
		//- 	> Button 2 </button>
		//- `

		//- document.querySelectorAll('.border').forEach( (child) => {

		//- 	child.addEventListener('click', (evt) => {
		//- 		console.log(evt.target.innerHTML) 	
		//- 	})

		//- })


		//- document.querySelector('div').addEventListener('click', (evt) => {
		//- 	evt.preventDefault()

		//- 	if(evt.target.tagName === 'BUTTON' && evt.target.innerText === 'Button 2') {

		//- 		console.log(evt.target.innerText)
		//- 	}
		//- })



		// Step-2: Try to add Event before button2 exists
		//- document.querySelectorAll('div').forEach( (staticParentEl) => {

		//- 	staticParentEl.addEventListener('click', (evt) => {
		//- 		const dynamicEl = evt.target.closest('.border')
		//- 		if(!dynamicEl ) return

		//- 		console.log(dynamicEl.innerHTML) 										// => OK
		//- 		//- console.log(evt.target.innerHTML) 							// => OK
		//- 		//- console.log(evt.currentTarget.innerHTML) 		// It return entire target
		//- 	})
		//- })



		//- // Step-1: Add button later (mimic as Dynamic Element)
		//- const div = document.querySelector('div')
		//- div.insertAdjacentHTML('beforeend', button2)