//- extends ../layout/mainLayout
//- block content
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		script(src="/js/tailwind_cdn.js") 
	body 
		//- div(class='h-screen flex justify-center items-center')
			//- div(class='w-60 h-60 border border-pink-500')

		//- div(class='h-screen grid place-items-center')
			//- div(class='w-60 h-60 border border-pink-500')

		//- div(class='h-screen grid justify-center items-center')
		//- 	div(class='w-60 h-60 border border-pink-500')

		div(class='h-screen relative')
			div(class='absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-60 h-60 border border-pink-500')



		