extends ../layout/mainLayout
block content
	include ../icon/icons
	include ../components/mui/@index
	include ../components/@index


	div(class='grid grid-cols-12 p-2 divide-x')
		//- left-section
		div(class='col-span-2')
			+NavComponent()


		//- middle-section
		div(class='col-span-10 md:col-span-7')
			div(class='flex items-center justify-between p-2 border-b border-slate-200 text-slate-900')
				h1(class=' font-bold') Inbox
				a(href='/message/new') 
					button(type='button' 
						class='shadow-2xl border border-slate-300 p-0.5 bg-slate-50 text-slate-500 rounded-md'
						class='hover:bg-slate-100 hover:border-slate-400 hover:text-slate-600'
						class='active:bg-blue-100 active:border-blue-500 active:text-blue-600'
					)
						<svg class='w-4 h-4' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"><path d="M12 8v3m0 0v3m0-3h3m-3 0H9"/><path stroke-linejoin="round" d="M14 19c3.771 0 5.657 0 6.828-1.172C22 16.657 22 14.771 22 11c0-3.771 0-5.657-1.172-6.828C19.657 3 17.771 3 14 3h-4C6.229 3 4.343 3 3.172 4.172C2 5.343 2 7.229 2 11c0 3.771 0 5.657 1.172 6.828c.653.654 1.528.943 2.828 1.07"/><path d="M14 19c-1.236 0-2.598.5-3.841 1.145c-1.998 1.037-2.997 1.556-3.489 1.225c-.492-.33-.399-1.355-.212-3.404L6.5 17.5"/></g></svg>

			//- messages will be created by client-side fetch
			section(name='chat-list-container') 	
				//- a(href='/message/chat-1')
				//- 	+List({
				//- 		id: 'chat-1',
				//- 		primary: 'Your text goes here',
				//- 		secondary: 'It was an wonderful progrom',
				//- 		isHover: true,
				//- 		avatar: '/logo.png',
				//- 	})
				//- a(href='/message/chat-2')
				//- 	+List({
				//- 		id: 'chat-2',
				//- 		primary: 'Your text goes here',
				//- 		secondary: 'It was an wonderful progrom',
				//- 		isHover: false,
				//- 		avatar: '/images/users/default.jpg',
				//- 		images: ['/logo.png', '/images/users/default.jpg'],
				//- 	})







		//- right-section
		div(class='hidden md:col-span-3')
			p right section hiddend for now
	

	script.
		const logedInUser = !{JSON.stringify(logedInUser) } 	



	script(src="/js/message-inbox.js") 

