doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{pageTitle} Page

		//- link(rel="stylesheet", href="/css/style.css")
		script(src="/socket.io/socket.io.js") 
		script(src="/js/tailwind_cdn.js") 
		link(rel="stylesheet", href="/plugin/cropper.min.css")

		include ../components/@index.pug
		include ../components/mui/@index.pug
	body  

		div.container.m-auto
			block content
				div(class='grid grid-cols-12 p-2 divide-x min-h-screen')
					block left-block
						div(class='col-span-2')
							include ../components/leftPanel
		
					block middle-block
						p middle block

					block right-block
						//- p right block

			block script
				script(src="/plugin/cropper.min.js") 
				//- script( type='module' src="/js/socket.js") 



