doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Docs
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css")
		//- script(src="/path/to/highlight.min.js")
		//- script.
			//- hljs.highlightAll()

		//- - const highlightedCode = hljs.highlightAuto('<h1> Hi HTML </h1>').value

		

	body 
		h1 docs Home Page

		
		pre(style='tab-size: 4;')
			code(class='language-javascript')
				h1 hi there
				div
					small hi there
		


		script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js")