extends ../layout/docLayout
block append script
	script(defer src="/js/docs/home.js")

block left-panel-content
	include ../others/data
	style.
		.hide {
			opacity: 0;
			transition: opacity 0.5s;
		}
		.show {
			opacity: 1;
		}

		.rotate-list-button {
			transform: rotate(0deg);
			transition: transform 0.2s;
		}
		.rotate-list-button-rotate {
			transform: rotate(-90deg);
		}

	ul#left-panel-list(class='text-slate-800')
		li(class='w-full bg-slate-50 px-2 py-1 border-b border-slate-200 hover:bg-slate-100/80') 
			a(href='#key-features' class='block') Key Features
		li(class='w-full bg-slate-50 px-2 py-1 border-b border-slate-200 hover:bg-slate-100/80') 
			a(href='#page-routes' class='block') Pages Routes

		li(class='flex justify-between w-full bg-slate-50 px-2 py-1 border-b border-slate-200 hover:bg-slate-100/80') 
			a(href='#api-routes' class='flex-1') API Routes
			button(name='list-left-arrow' class='rotate-list-button hover:bg-slate-200 border border-slate-200/50 active:bg-slate-200 p-1 rounded-full')
				<svg class='pointer-events-none w-4 h-4' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14 17.308L8.692 12L14 6.692l.708.708l-4.6 4.6l4.6 4.6z"/></svg>
			
		div(name='api-routes-container', class='hidden')
			ul(class='ml-6 list-[square] text-slate-700 text-sm bg-slate-50 px-2 py-0.5')
				//- comes from: ../others/data
				each route of apiRoutes
					li(class='px-2 py-0.5 hover:bg-blue-100 hover:marker:text-blue-600') 
						a(href=route.path class='block') #{route.label}

		li(class='w-full bg-slate-50 px-2 py-1 border-b border-slate-200 hover:bg-slate-100/80')
			a(href='/docs/api-features' class='block') API Features


block main-section-content

	h1#key-features Key features: 
		span(class='ml-4 text-sm') [ by users point of view ]

		ul(class='list-[square] list-inside ml-2 mb-8 px-4 py-2 text-slate-800')
			li Social media app like twitter
			li Follow and unfollow other users
			li Create tweet, like/unlike tweet, and also retweet 
			li Upload profile photo, Cover photo.
			li Real Time chatting: Group chat, private chat
			li To create Group chat search users by name and shows selected users list before create chat
			li in chat page will show all users on that chat room, in top with user avatar
			li Users will see typing indicator of other users while chating.


	h1 Key features: 
		span(class='ml-4 text-sm') [ by Developers point of view ]

		ul(class='list-[square] list-inside ml-2 mb-8 px-4 py-2 text-slate-800')
			li Hydration Rendering : ServerSide rendering + ClientSide rendering
			li API features : pagination, sorting, filtering, searching
			li Image upload : crop image, image with private route
			li Error handling : Express Globar Error handler + ClientSide error handler
			li Real-Time chat, notification By socket.io private or custom room
			li Project Setup: Node-Express, MongoDB (mongoose), Pug-templete tailwind-css, 
				| Browser refresh on file change, Session based authentication.
			li Handle some security machanism, like: Content Security Policy for XSS attack,
				| HTML parser
			li Animation/Transition: scrolling animation, dialog transition, ...etc
			li Searcing APIs when user stop typing



	h2#page-routes(class=' font-medium mb-4 text-blue-600 border-b pb-1 border-slate-200') Pages Routes
	div(class='hide')
		+RouteTable(pageRoutes)
		//- comes from: ../others/data

	h2#api-routes(class='font-medium mb-4 mt-12 text-blue-600 border-b pb-1 border-slate-200') API Routes
	p(class='text-slate-700 font-light mb-4') 
			| We have some end points and they support 
			a(href='#' class='hover:text-slate-900 underline decoration-dotted decoration-blue-600') pagination
			|, 
			a(href='#' class='hover:text-slate-900 underline decoration-dotted decoration-blue-600') sorting
			|, 
			a(href='#' class='hover:text-slate-900 underline decoration-dotted decoration-blue-600') filtering
			|  and 
			a(href='#' class='hover:text-slate-900 underline decoration-dotted decoration-blue-600') searching


	h3(class='font-medium mt-8 mb-2 text-blue-600 underline decoration-dotted') User Routes
	div#user-routes(class='hide')
		+RouteTable(userRoutes)
		//- comes from: ../others/data

	h3(class='font-medium mt-8 mb-2 text-blue-600 underline decoration-dotted') Tweet Routes
	div#tweet-routes(class='hide')
		+RouteTable(tweetRoutes)
		//- comes from: ../others/data

	h3(class='font-medium mt-8 mb-2 text-blue-600 underline decoration-dotted') Notification Routes
	div#notification-routes(class='hide')
		+RouteTable(notificationRoutes)
		//- comes from: ../others/data

	h3(class='font-medium mt-8 mb-2 text-blue-600 underline decoration-dotted') Message Routes
	div#message-routes(class='hide')
		+RouteTable(messageRoutes)
		//- comes from: ../others/data

	h3(class='font-medium mt-8 mb-2 text-blue-600 underline decoration-dotted') Chat Routes (Group | Private)
	div#chat-routes(class='hide')
		+RouteTable(chatRoutes)
		//- comes from: ../others/data


