extends ../layout/docLayout

block left-panel-content
	ul
		li(class='w-full bg-slate-50 px-2 py-1 border-b border-slate-200 hover:bg-slate-100/80') 
			a(href='#' class='block') Pages Routes

		li(class='w-full bg-slate-50 px-2 py-1 border-b border-slate-200 hover:bg-slate-100/80') 
			a(href='#' class='block') API Routes

		li(class='w-full bg-slate-50 px-2 py-1 border-b border-slate-200 hover:bg-slate-100/80'): a(href='#' class='block') Pages Routes

block main-section-content
	include ../others/data

	h2(class='font-medium mb-4 text-blue-600 border-b pb-1 border-slate-200') Pages Routes
	//- comes from: ../others/data
	+RouteTable(pageRoutes)


	h2(class='font-medium mb-4 mt-12 text-blue-600 border-b pb-1 border-slate-200') API Routes
	p(class='text-slate-700 font-light mb-4') 
			| We have some end points and they support 
			a(href='#' class='hover:text-slate-900 underline decoration-dotted decoration-blue-600') pagination
			|, 
			a(href='#' class='hover:text-slate-900 underline decoration-dotted decoration-blue-600') sorting
			|, 
			a(href='#' class='hover:text-slate-900 underline decoration-dotted decoration-blue-600') filtering
			|  and 
			a(href='#' class='hover:text-slate-900 underline decoration-dotted decoration-blue-600') searching


	h3(class='font-medium mt-8 mb-2 text-blue-600 underline decoration-dotted') User Routes
	+RouteTable(userRoutes)
	//- comes from: ../others/data

	h3(class='font-medium mt-8 mb-2 text-blue-600 underline decoration-dotted') Tweet Routes
	+RouteTable(tweetRoutes)
	//- comes from: ../others/data

	h3(class='font-medium mt-8 mb-2 text-blue-600 underline decoration-dotted') Notification Routes
	+RouteTable(notificationRoutes)
	//- comes from: ../others/data

	h3(class='font-medium mt-8 mb-2 text-blue-600 underline decoration-dotted') Message Routes
	+RouteTable(messageRoutes)
	//- comes from: ../others/data

	h3(class='font-medium mt-8 mb-2 text-blue-600 underline decoration-dotted') Chat Routes (Group | Private)
	+RouteTable(chatRoutes)
	//- comes from: ../others/data


