extends ../layout/mainLayout
block content
	include ../icon/icons
	include ../components/mui/@index
	include ../components/@index

	div(class='grid grid-cols-12 p-2 divide-x')
		//- left-section
		div(class='col-span-2')
			+NavComponent()


		//- middle-section
		div(class='col-span-10 md:col-span-7')

			p(class='p-2 border-b border-slate-200') #{pageTitle}

			div(class='p-2 text-slate-700 flex flex-col')
				+Tweet(tweet)

				each retweet in tweet.user.retweets
					+Tweet(retweet)
					//- - console.log(retweet)


		//- right-section
		div(class='hidden md:col-span-3')
			p right section hiddend for now
	

	script.
		const tweet = !{ JSON.stringify(tweet) } 	// send tweetId from server-side to client-side
		//- console.log(tweet)

		console.log(tweet.user.retweets)
