extends ../layout/mainLayout
block content
	include ../icon/icons

	.h-screen.flex.justify-center.items-center
		.w-96.bg-slate-100.m-auto.px-4.py-3.shadow-md.rounded.border.border-slate-200
			h1(class='text-blue-500 text-2xl text-center mb-6') Login

			form.flex.flex-col.gap-3.mb-2(action='/login' method='post')

				h2#error.text-red-500.text-center.capitalize #{errorMessage}

				div(class='flex gap-3')

				+TextField({
					label: 'Your Email',
					name: 'email',
					type: 'email',
					placeholder: 'abc@gmail.com',
					value: email || 'fiaz@gmail.com',
					helperText: 'email address is invalied'
				})
				+TextField({
					label: 'Your Password',
					name: 'password',
					type: 'password',
					placeholder: 'yourPa$$w0rd',
					value: password || 'asdfasdf', 
					helperText: 'password is too short'
				})

				+Button({
					value: 'Login',
					type: 'submit',
					size: 'py-2',
					variant: 'contained'
				})
			
			.text-center
				a.text-blue-500.underline.decoration-dotted(href="/register") Need an account ? Register here 

			//- Social media login
			div(class='mt-6 mb-4 flex flex-col gap-1')
				each item in socialMediaLoginIcons
					+Button({
						name: item.name,
						value: item.name,
						variant: 'contained',
						color: item.color,
						startIcon : item.icon,
					})

block script
	script( type='module' src="/js/page/login.js") 


