extends ../layout/mainLayout
block content

	.h-screen.flex.justify-center.items-center
		.w-96.bg-slate-100.m-auto.px-4.py-3.shadow-md.rounded.border.border-slate-200
			h1(class='text-blue-500 text-2xl text-center mb-6') Register

			form.flex.flex-col.gap-3.mb-2(action='/register' method='post')

				h2#error.text-red-500.text-center.capitalize #{errorMessage}

				div(class='flex gap-3')
					+TextField({
						label: 'First Name',
						name: 'firstName',
						placeholder: 'First Name',
						value: firstName || '',
					})
					+TextField({
						label: 'Last Name',
						name: 'lastName',
						placeholder: 'Last Name',
						value: lastName || '',
					})

				+TextField({
					label: 'Username',
					name: 'username',
					placeholder: 'username',
					value: username || '',
				})
				+TextField({
					label: 'Your Email',
					name: 'email',
					type: 'email',
					placeholder: 'abc@gmail.com',
					value: email || '',
					helperText: 'email address is invalied'
				})
				+TextField({
					label: 'Your Password',
					name: 'password',
					type: 'password',
					placeholder: 'yourPa$$w0rd',
					value: password || '',
					helperText: 'password is too short'
				})
				+TextField({
					label: 'Confirm Password',
					name: 'confirmPassword',
					id: 'confirmPassword',
					type: 'password',
					placeholder: 're-type your password again',
					value: confirmPassword || '',
					helperText: 'password not matched'
				})

				//- small Error message

				+Button({
					value: 'Register',
					type: 'submit',
					size: 'py-2',
					variant: 'contained',
				})
			
			.text-center
				a.text-blue-500.underline.decoration-dotted(href="/login") Already have an account ? login here

block script
	script(type="module", src="/js/page/register.js") 


